flows(1).json
[{"id":"154ee410.4e3b8c","type":"tab","label":"Predicting Life Expectancy","disabled":false,"info":""},{"id":"d4f2f34.582d51","type":"ui_form","z":"154ee410.4e3b8c","name":"","label":"","group":"fe02dacb.9c88d8","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"BMI","value":"d","type":"number","required":true,"rows":null},{"label":"Adult_Mortality","value":"e","type":"number","required":true,"rows":null},{"label":"Infant_Deaths","value":"f","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"g","type":"number","required":true,"rows":null},{"label":"Percentage_Expenditure","value":"h","type":"number","required":true,"rows":null},{"label":"Hepatitis_B","value":"i","type":"number","required":true,"rows":null},{"label":"Under_Five_Deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total_Expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":"Thinness_10_19_years","value":"q","type":"number","required":true,"rows":null},{"label":"Thinness_5_9_years","value":"r","type":"number","required":true,"rows":null},{"label":"Income_Composition_of_Resources","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling","value":"t","type":"number","required":true,"rows":null},{"label":"Measles","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["24199c08.5241e4"]]},{"id":"24199c08.5241e4","type":"function","z":"154ee410.4e3b8c","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//following are required to receive a token\nvar apikey=\"SDsEE9hLIZR-eqLRbgdOy_xGNPwQ6_u34xUQvV-TA4YX\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["68a8c611.734c18"]]},{"id":"ac790a63.0b171","type":"http request","z":"154ee410.4e3b8c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/b9aceab4-ee70-4e76-8200-1001cf65f67d/deployments/b8ce29ca-f2db-4e13-b18f-3734353b0617/online","tls":"","persist":false,"proxy":"","authType":"basic","x":190,"y":260,"wires":[["6a05a5d8.cc360c","c135204d.cb051"]]},{"id":"847883db.3a369","type":"debug","z":"154ee410.4e3b8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":260,"wires":[]},{"id":"c135204d.cb051","type":"function","z":"154ee410.4e3b8c","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["847883db.3a369","381ac112.3ed38e"]]},{"id":"6a05a5d8.cc360c","type":"debug","z":"154ee410.4e3b8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":200,"wires":[]},{"id":"bef1791c.e31f9","type":"function","z":"154ee410.4e3b8c","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"b9aceab4-ee70-4e76-8200-1001cf65f67d\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Country\", \"Year\", \"Status\", \n\"BMI\", \"Adult_Mortality\", \"Infant_Deaths\", \"Alcohol\", \"Percentage_Expenditure\", \"Hepatitis_B\", \"Under_Five_Deaths\", \"Polio\", \"Total_Expenditure\", \"Diphtheria\", \"HIV/AIDS\", \"GDP\",\"Population\", \"Thinness_10_19_years\", \"Thinness_5_9_years\",\n \"Income_Composition_of_Resources\", \"Schooling\", \"Measles\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["ac790a63.0b171"]]},{"id":"68a8c611.734c18","type":"http request","z":"154ee410.4e3b8c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":450,"y":80,"wires":[["bef1791c.e31f9"]]},{"id":"381ac112.3ed38e","type":"ui_text","z":"154ee410.4e3b8c","group":"fe02dacb.9c88d8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":360,"wires":[]},{"id":"fe02dacb.9c88d8","type":"ui_group","z":"","name":"Life Expectancy","tab":"b1a0aeb1.b4941","order":1,"disp":true,"width":"6","collapse":false},{"id":"b1a0aeb1.b4941","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]